
body {

    margin: 0;
}

.containerContacter {
    display: grid;
    height: 100vh;
    grid-gap: 0px;
    grid-template-columns: 20vw auto 20vw;
    grid-template-rows: 50vh 60px 40px auto 30px 43px;
}


.item {
    background-color: rgb(75, 75, 75);
    font-size: 25px;
    color: white;
    padding: 10px;
}


.Entete {
    display: flex;
    grid-column: 1 / 4;
    grid-row: 1;
    background-image: url("../Images/entete.png");
    background-position: center center;
    background-size: cover;

}

h3 {
    text-align: center;
}

.formulaire{
    grid-column: 2/3;
    grid-row: 4;
    background-color: #E8E8E8;
    color: #282726;
    font-family: 'Comic Sans MS';
    font-size: 20px;
    border-radius: 10px;
    padding: 20px 0 0 20px;
}



.footer {
    text-align: center;
    grid-column: 1/4;
    grid-row: 6;
    background-color: #282D77;
    -border-top: solid 3px;
    -border-color: #282726;
    font-family: 'Arial';
}

.nav_top {
    grid-column: 1/4;
    grid-row: 2;
    padding: 0px;
    position: sticky;
    top: 0;
    background-color: #324495;
}
/*--------------------------POUR LE MENU DEROULANT------------------*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #324495;
    text-align: center;

}

li {
    display: inline;
    padding-left: 20px;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 10px;
    text-decoration: none;
    font-size: 20px;
    font-family: Arial;
}
.like:not(.active){
    transition: 0.3s ease;
    color: #ffffff;
    font-size: 20px;
    text-decoration: none;
    border-top: 2px solid #324495;
    border-bottom: 2px solid #324495;
    padding: 20px 0;
    margin: 0 10px;
}
li a:hover:not(.active) {
    transition: 0.3s ease;
    border-top: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
    padding: 6px 0;
}



/*--------------------------POUR LE MENU DEROULANT------------------*/
p {
    text-align: left;
}

h4 {
    text-align: center;
    margin: 15px;
}

textArea{
    resize: vertical;
    width: 95%;
    min-height: 100px;
    margin-bottom: 5px;
    margin-top: 3px;
    font-family: Arial;
    border-radius: 4px;
    box-sizing: border-box;
    padding-top: 5px;

}

input{
    box-sizing: border-box;
    resize: none;
    height: 30px;
    width: 95%;
    margin-bottom: 10px;
    margin-top: 3px;
}

label{
    font-family: Arial;
    font-size: 17px;
}
strong{
    font-size: 15px;
    color: red;
}
form> a{
    color:red;
    font-size: 15px;
    font-family: Arial;
    font-style: italic;
}

button{
    margin-bottom: 10px;
    padding: 10px 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    color: white;
    background:#324495;
    box-shadow: 0 8px 16px 0 grey;
}
button:hover{
    background:#138ba4;
}

#space{
    padding-left: 5px;
}

/* Let's get this party started */
::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #a6c4cb;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
    background: #a6c4cb;
}

